@import '~antd/dist/antd.css';

.ant-layout {
    min-height: 100vh;
}

.ant-layout-sider {
    background-image: linear-gradient(#1e2422, #000000);
    background-attachment:fixed;
    width: 800px;
    padding: 30px;
    color: white;
}

.ant-layout-content {
    background-image: linear-gradient(#494B4A, #030404);
    background-attachment:fixed;
}

.ant-layout-footer {
    background-color: #292929;
    padding-bottom: 4px;
    padding-top: 15px;
}

.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 0px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white;
    text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs-tab-btn:focus {
    color: white;
}

.ant-tabs-tab {
    color: rgb(125, 125, 125);
    font-size: 18px;
    letter-spacing: 2px;
}

.ant-tabs-tab:hover {
    color: white;
}

.ant-tabs-ink-bar {
    background: #1DB954;
    width: 10px;
}

.ant-slider-track {
    background-color: #1DB954;
}

.ant-slider:hover .ant-slider-track {
    background-color: #1DB954;
}

.ant-slider-handle {
    border: 0px
}

.ant-slider-rail {
    background-color: #3E3E3E;
}

.logo {
    width:50px;
    margin-bottom: 20px;
  }
  
  .searchBar {
    border-top: 2px solid rgb(125, 125, 125);
    border-bottom: 2px solid rgb(125, 125, 125);
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .sideBar {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .recentPlayed {
    border-top: 2px solid rgb(125, 125, 125);
    border-bottom: 2px solid rgb(125, 125, 125);
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 400px);
  }
  
  .recentTitle {
    color: rgb(125, 125, 125);
    font-size: 15px;
    font-weight: 400;
  }
  
  .install {
    display: flex;
    justify-content: space-between;
  }
  
  .contentWindow {
    padding: 50px 0px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #292929;
    color: rgb(205, 203, 203) !important; 
  }

  .albulmSelection img{
        background: rgba(255, 255, 255, 0.89);
        width: 50%;
        height: 80%;
        border-radius: 5%;
        box-shadow:
          inset 0 0 50px rgba(255, 255, 255, 0.124),      /* inner white */
          inset 20px 0 80px rgba(255, 225, 0, 0.2),   /* inner left magenta short */
          inset -20px 0 80px rgba(226, 242, 242, 0.124),  /* inner right cyan short */
          inset 20px 0 300px rgb(7, 5, 5),  /* inner left magenta broad */
          inset -20px 0 300px rgba(0, 0, 0, 0.857), /* inner right cyan broad */
          0 0 50px rgba(255, 255, 255, 0.131),            /* outer white */
          -10px 0 80px rgba(14, 0, 77, 0.131),        /* outer left magenta */
          10px 0 80px rgba(0, 255, 255, 0.097);         /* outer right cyan */


  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Navcontainer {
    background-color: transparent;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: inherit;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.Navcontainer{
  justify-content: space-between;
}
 .nav-link{
  justify-content: space-between;
  background-color: transparent;
 
}
